# Environnement
.env
backend/.env

# Node
node_modules/

# Angular
frontend/dist/

# Logs
*.log

# Système
.DS_Store

# Terraform
iac/.terraform/
iac/terraform.tfstate
iac/terraform.tfstate.*
iac/*.tfvars
iac/*.tfvars.json
